.scroll{
    height: 400px;
    overflow: scroll;
   
}
.scroll2{
  height: 333px;
  overflow: scroll;
 
}

.hides::-webkit-scrollbar {
    display: none;
}


.hides {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.table{
    font-size: 12px;
}

.dropdownbg{
    background-color:#FF5349;
    border-color: #FF5349;
    color:azure;
 }
 .theader{
  color:azure;
 }