.scroll{
    height: 500px;
    overflow: scroll;
   
}

.hides::-webkit-scrollbar {
    display: none;
}


.hides {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
.table{
    font-size: 12px;
  }