/*!******************************* MAIN COMPONENT *******************************!*/
.employeesMainComponent{
    position: absolute;
    top: 80px;
    left :0px;
    bottom: 0px;
    width : 100%;
    z-index: -1;
    background-color: #1e272e;
}

.employeesSubComponent {
    position: absolute;
    top: 70px;
    left :0px;
    bottom: 0px;
    width : 82%;
    z-index: -1;
    padding: 20px;
    overflow: scroll;
}

.employeesSubComponent::-webkit-scrollbar{
    display: none;
}

.addEmployee, .updateEmployee , .deleteEmployee{
    height:500px;
    background: red;
    margin-bottom: 10px;
    padding-top: 20px;
}

.hrTitleText {
    color: white;
}


@media only screen and (max-width: 991px) {
    .employeesMainComponent {
        position: absolute;
        top: 250px;
        left: 0px;
        bottom: 0px;
        padding-top: 80px;
        width: 100%;
        z-index: -1;
        background-color: #1e272e;
    }

    .employeesSubComponent  {
        position: static;
        width: 100%;
        z-index: -1;
        background-color: #1e272e;
        padding-bottom: 20px;
    }
}

/******************************* SIDE BAR ***********************************/
.sideBarEmployeesComponent {
    position: absolute;
    top: 00px;
    right :0px;
    bottom: 0px;
    width : 18%;
    z-index: -1;
    background-color: #2f3640;
    /*display: grid;*/
    /*grid-template-rows: 20% 80%;*/
}
@media only screen and (max-width: 991px) {
    .sideBarEmployeesComponent {
        position: unset;
        bottom: unset;
        width: 100%;
        padding-top: 10px;
        height: 200px;
        z-index: -1;
        background-color: #2f3640;
    }
}
