
.h1{
  color:#6270af;
}

.buttonsubmitclear{
  color:#262c30;
  position: absolute;
  top: 140px;
  left: 890px;
  padding: 10px;
  background-color: transparent;
  color: rgb(190, 33, 33);
  z-index: 21;
  position: absolute;
  border: 0px;
}

.closebuttonactual {
  position: absolute;
  top: 110px;
  left: 890px;
  padding: 10px;
  background-color: transparent;
  color: rgb(190, 33, 33);
  z-index: 21;
  position: absolute;
  border: 0px;
}

.buttonsubmittask{
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(22, 22, 54);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding-top: 4px;
  width: 200px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 4px;
}

.buttondir {
  border-radius: 4px;
  background-color: #26336e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px;
}
.buttondir > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.forward > span:after {
  content: ' »';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.back > span:after {
  content: '« ';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
  transition: 0.5s;
}
.forward:hover > span {
  padding-right: 25px;
}
.back:hover > span {
  padding-left: 25px;
}
.forward:hover > span:after {
  opacity: 1;
  right: 0;
}
.back:hover > span:after {
  opacity: 1;
  left: 0;
}

.containerbuttons {
  text-align: center;
}