body {
  background-color: #1e272e;
}

.float-parent-element { 
  width: 100%; 
} 
.float-child-element1 { 
  float: left; 
  width: 82%; 
} 

.float-child-element2 { 
  float: left; 
  width: 18%; 
} 
.red { 

  margin-left: 0%; 
  height: 100%; 
} 
.yellow { 
  margin-left: 0; 
  height: 100%; 
  background-color: #2f3640;
}

.bodyappear1 {
  z-index: 10;
  position: fixed;
  bottom: 110px;
  left: 3px;
  top: 10px;
}

.bodyappear2 {
  z-index: 10;
  position: absolute;
  left: 275px;
  bottom: 0px;
  top: 80px;
}

.bodyappear3 {
  z-index: 10;
  position: absolute;
  left: 549px;
  bottom: 0px;
  top: 80px;
}

.bodyappear4 {
  z-index: 10;
  position: absolute;
  left: 824px;
  bottom: 0px;
  top: 80px;
}

.bodyappear5 {
  z-index: 10;
  position: absolute;
  left: 1100px;
  bottom: 0px;
  top: 80px;
}
.button1 {
  color: rgb(153, 28, 28);
  box-sizing: content-box;
  height: 80px;
  background: #1e272e;
  content: center;
  text-align: center;
  font-size: 28px;
  width: 50px;
  padding: 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  border: none;
  
}

.button {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  color: rgb(189, 27, 27);
  box-sizing: content-box;
  height: 100px;
  background: #252e35;
  font-size: 12px;
  width: 80%;
  transition: all 0.5s;
  border: none;
  opacity: 0.8;
  margin-left:20px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover {
  background-color: #191b3a;
  opacity: 0.5;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

.p {
  font-size: 10px;
}
