/*!******************************* MAIN COMPONENT *******************************!*/
.tasksMainComponent {
    position: absolute;
    top: 80px;
    left :0px;
    bottom: 0px;
    padding-top: 80px;
    width : 100%;
    z-index: -1;
    background-color: #1e272e;
}

.tasksSubComponent {
    position: absolute;
    top: 0px;
    left :0px;
    bottom: 0px;
    width : 70%;
    z-index: -1;
    background-color: #1e272e;
}

.tasksTable{
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.table_head {
    width : 20%;
    color: #a4b0be;
    background-color: #2f3640;
    font-weight: bolder;
}

.table_data_odd{
    width: 20%;
    background-color: #1e272e;
    color: white ;
}
.table_data_even{
    width: 20%;
    background-color: #2f3640;
    color: white ;

}
.table_header_column {
    border-right: 1px solid #57606f;
    text-align: center;
}
.table_header_column_more{
    border-left: 1px solid #57606f;
    text-align: center;
}
.table_data_column {
    border-right: 1px solid #57606f;
    text-align: center;
}
.table_data_column_more {
    border-left: 1px solid #57606f;
}
.moreButton {
    background-color: red;
    color: white;
    margin: 5px;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .tasksMainComponent {
        position: absolute;
        top: 250px;
        left :0px;
        bottom: 0px;
        padding-top: 80px;
        width : 100%;
        z-index: -1;
        background-color: #1e272e;
    }

    .tasksSubComponent {
        position: static;
        width : 100%;
        z-index: -1;
        background-color: #1e272e;
    }
}


/******************************* SIDE BAR ***********************************/
.sideBarComponent {
    position: absolute;
    top: 00px;
    right :0px;
    bottom: 0px;
    width : 30%;
    z-index: -1;
    background-color: #2f3640;
}

@media only screen and (max-width: 991px) {
    .sideBarComponent{
        position: absolute;
        width: 100%;
        padding-top: 10px;
        z-index: -1;
        background-color: #2f3640;
    }
}

.title {
    color : white;
}