/*!******************************* MAIN COMPONENT *******************************!*/
.designationsMainComponent{
    position: absolute;
    top: 80px;
    left :0px;
    bottom: 0px;
    width : 100%;
    z-index: -1;
    background-color: #1e272e;
}

.designationsSubComponent{
    position: absolute;
    top: 70px;
    left :0px;
    bottom: 0px;
    width : 82%;
    z-index: -1;
    padding: 20px;
}

.designations_table_view{
    overflow: scroll;
    margin-bottom: 10px;
}
.designations_table_view::-webkit-scrollbar{
    display: none;
}
.designationsTable{
    margin-top: 10px;
    align-items: center;
    width: 100%;
}
.designations_table_head {
    width : 20%;
    color: #a4b0be;
    background-color: #2f3640;
    font-weight: bolder;
    height: 40px;
}

.designations_table_data_odd{
    width: 20%;
    background-color: #1e272e;
    color: white ;
}
.designations_table_data_even{
    width: 20%;
    background-color: #2f3640;
    color: white ;

}
.designations_table_header_column {
    border-right: 1px solid #57606f;
    text-align: center;
}
.designations_table_header_column_more{
    border-left: 1px solid #57606f;
    text-align: center;
}
.designations_table_data_column {
    border-right: 1px solid #57606f;
    text-align: center;
}
.designations_table_data_column_more {
    border-right: 0px solid #57606f;
}
.designations_moreButton {
    background-color: red;
    color: white;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}


.hrText {
    color: white;
}


@media only screen and (max-width: 991px) {
    .designationsMainComponent {
        position: absolute;
        top: 250px;
        left: 0px;
        bottom: 0px;
        padding-top: 80px;
        width: 100%;
        z-index: -1;
        background-color: #1e272e;
    }

    .designationsSubComponent {
        position: static;
        width: 100%;
        z-index: -1;
        background-color: #1e272e;
        padding-bottom: 20px;
    }
}

/******************************* SIDE BAR ***********************************/
.sideBarDesignationsComponent {
    position: absolute;
    top: 00px;
    right :0px;
    bottom: 0px;
    width : 18%;
    z-index: -1;
    background-color: #2f3640;
    /*display: grid;*/
    /*grid-template-rows: 20% 80%;*/
}
@media only screen and (max-width: 991px) {
    .sideBarLeaveComponent {
        position: unset;
        bottom: unset;
        width: 100%;
        padding-top: 10px;
        height: 200px;
        z-index: -1;
        background-color: #2f3640;
    }
}
