
.adminmain{
    width: 80hw;
    height: 100vh;
    overflow: scroll;
    
}
.admintimeline{
   margin-left: 30px;
   box-shadow: 0px 0px 10px 1px rgb(250, 12, 4);
}
.employelist{
    padding-left: 70px;
}
@media only screen and (max-width: 991px) {
    .admintimeline{
        margin-left: 0px;  
    }
}
.admintableheader{
    margin-top: 10px;
    color: azure;
    background-color:rgb(250, 12, 4) ;

}
.timelinetext{
    color: azure;
    font-size: 2vh;
}
.adminmain{
    width: 100hw;
    height: 90vh;
}
.searchbartimline{
    position: static;
    background-color: #2f3640 ;
    border:none;
    padding: 0;
    color:azure;
    width: 50%;
    
  
}
.searchbarplacement{
    text-align: right;
}
.searchtimlineimage{
    width: 25px;
    height: 25px;
    margin: 5px;

}
.timelinetable{
        position: relative;
        height: 500px;
        overflow: scroll;
}
.adminhides::-webkit-scrollbar {
    display: none;
}


.adminhides {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
