

.admintimeline{
   margin-left: 70px;
   
}
@media only screen and (max-width: 991px) {
    .admintimeline{
        margin-left: 0px;  
    }
}
.admintableheader{
    color: azure;
    ;

}
.searchbartimline{
    background-color: #2f3640 ;
    border:none;
    padding: 0;
    color:azure;
    width: 30%;
}
.searchtimlineimage{
    width: 25px;
    height: 25px;
    margin: 5px;

}
.timelinetable{
        height: 700px;
        overflow: scroll;
}
.hides::-webkit-scrollbar {
    display: none;
}


.hides {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}