.navbar{
    width: 100%;
    height: 80px;
    background: #1e272e;
    padding : 10px;
    display : grid;
    grid-template-columns: 30% 70%;
}

@media only screen and (max-width: 991px) {
    .navbar{
        height: 250px;
    }
}

.logoContainer{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
}
.logo{
    padding: 0;
    margin: 0;
    color: white;
}

.logoRed {
    color: red;
}

a:hover{
    color: red;
}

.collapse navbar-collapse > ul>li>a{
    background-color: #61dafb;
}


