.Paper {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width : 82%;
  z-index: 0;
  font-family:sans-serif;
  background-color: #8a99a5;
}
body{
  background-color: #8a99a5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

table{
  background-image: radial-gradient(#a3a8ac,#98a1a8,#8a99a5);
}
