#containerTopBar {
  height: 100%;
  width: 100%;
  display: flex;
}
#projectTopic {
  width: 25%;
  color: white;
  background-color: rgb(255, 255, 255);
}
#content {
  width: 50%;
  background-color: green;
}
#rightThing {
  width: 25%;
  background-color: yellow;
}

h1 {
  color: rgb(79, 86, 148);
}

.smallerFont {
  font-size: 34px;
  margin-bottom: 10px;
  color: rgb(39, 73, 146);
}

.bigFont {
  font-size: 88px;
  background-color: rgb(128, 0, 0);
}