.Paper {
  position: absolute;
  top: 80px;
  bottom: 0px;
  left: 28px;
  width : 80.7%;
  z-index: 0;
  font-family:sans-serif;
  background-color: #1e272e;
}
body{
  background-color: #1e272e;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sidecontainer{
  position: absolute;
  top: 0px;
  right :0px;
  bottom: 0px;
  padding-top: 80px;
  width : 30%;
  z-index: 2;
  color: white;
  background-color: #1e272e;
}

.tabledata{
  z-index: 50;
  color: #ffffff;
}

.Shedular{
  position: absolute;
  z-index: 0;
}

table{
  z-index: 0;
  background-color: #1e272e;
}


.mainComponent {
  position: absolute;
  top: 0px;
  right :0px;
  bottom: 0px;
  padding-top: 80px;
  width : 30%;
  z-index: -1;
  background-color: #1e272e;
}

@media only screen and (max-width: 991px) {
  .mainComponent{
      position: absolute;
      top: 450px;
      right :0px;
      bottom: 0px;
      padding-top: 10px;
      width : 30%;
      z-index: -1;
      background-color: #1e272e;
  }
}

.title {
  color : white;
}